#!/usr/bin/sh

xrandr --output DP-0.1 --rotate left --left-of DP-0.8
xcompmgr &
~/Softwares/kcptun/client_linux_amd64 -r "184.170.219.150:1915" -l ":1915" -key "0905123" -crypt aes-192 -mode fast2 -sndwnd 512 -rcvwnd 512 -mtu 1350 -datashard 10 -parityshard 3 &
~/Softwares/Shadowsocks-Qt5-3.0.0-x86_64.AppImage &

nm-applet --sm-disable &
gnome-settings-daemon &
gnome-power-manager &
gnome-screensaver &
update-notifier &

